<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Статус</title>
    </head>
    <body>
        <p>Вклад успешно создан</p>
        <hr>
        Имя продукта: <a th:text="${contribution.getNameProduct()}"> </a>
        <br>
        Баланс: <a th:text="${contribution.getBalance()}"> </a>
        <hr>
        <a th:href="@{/contribution}">Вернуться к списку операций</a>
    </body>
</html>