<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
Добрый день! Выберите операцию <br>
<a th:href="@{/contribution/new}">Создать вклад</a><br>
<a th:href="@{/contribution/show}">Узнать сумму сбережений</a><br>
<a th:href="@{/contribution/showDelete}">Закрыть вклад</a>

</body>
</html>