<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все вклады</title>
</head>
<body>
Перечень открытых вкладов с состоянием баланса
<hr>
<div th:each = "contrib:${contribution}">
   Имя вклада: <a th:text="${contrib.getNameProduct()}"></a>
    Баланс: <a th:text="${contrib.getBalance()}"></a>
    <hr>


</div>
<hr>
<a th:href="@{/contribution}">Вернуться к списку операций</a>
</body>
</html>