<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Выбор закрываемого вклада</title>
</head>
<body>
Выберите вклад который хотите закрыть <br>
Перечень открытых вкладов с состоянием баланса
<hr>
<div th:each = "contrib:${contribution}">
    <a th:href="@{/contribution/{name}(name=${contrib.getNameProduct()})}"
       th:text="${contrib.getNameProduct() + ', ' + contrib.getBalance()}"></a>

    <hr>
</div>




</body>
</html>